// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$break-small: 770px;

.company-bubble {
  position: fixed;
  @media screen and (max-width: $break-small) {
    position: static;
  }
  top: 100px;
  left: 50px;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  img {
    max-width: 100%;
  }
  .logo {
    max-width: 150px;
    height: auto;
    margin-left: 0;
    padding: 4px;
    border: 2px solid gray;
  }
  h4 {
    color: gray;
    margin-top: 0;
    font-weight: 200;
  }
}

.reviews-wrapper{
  li {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
}
