<nav class="navbar navbar-transparent navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/' class="navbar-brand"><b>she</b>says</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% include 'partials/navigation_links.html' %}
      </ul>
      <div class="pull-right">
        <ul class="inline-links social-links" style="font-size:40px">
          <li>
            <a href="https://twitter.com/SheSaysCo"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/SheSaysCo"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
