{% extends 'home_base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1><b>she</b>says
      </h1>
        <h3 class="subtitle">
           Be heard. Find the perfect fit. Feel welcome.
        </h3>
    </div>

    <div class="form">
      <div class="title">What did <b>she</b> say about</div>
      <div class="title">
      <form method="GET" action="{% url 'company_search' %}" autocapitalize="off" id="company-input">
        <input type="text" name="q" autocomplete="off", id="company-name"/>
        <ul class="bxslider">
          {% for company in companies %}
            <li>{{ company.name }}</li>
          {% endfor %}
        </ul>
        <!-- TODO: Move styling into css, and javascript into separate file -->
      </form>
    </div>
  </div>

  <script src="static/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
  <!-- bxSlider api -->
  <script src="{% static 'javascripts/vendor/jquery.bxslider.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'javascripts/home.js' %}" type="text/javascript"></script>
{% endblock %}
