{% extends 'home_base.html' %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1><b>she</b>says
      <div class="pull-right">
        <ul class="inline-links social-links">
          <li>
            <a href="https://twitter.com/SheSaysCo"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/SheSaysCo"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
      </h1>
        <h3 class="subtitle"> 
           An anonymous review platform for women in technology.
        </h3>
    </div>

    <div class="form">
      <div class="title">What did <b>she</b> say</div>
      <div class="title">
      <form method="GET" action="{% url 'company_search' %}" autocapitalize="off" id="company-input">
        <div id="company-prefix"><b>@</b></div>
        <input type="text" name="q" autocomplete="off", id="company-name" />
        <ul class="bxslider">
          {% for company in companies %}
            <li>{{company.name }}</li>
          {% endfor %}
        </ul>
      </form>
    </div>
  </div>
{% endblock %}
