{% extends 'site_base.html' %}

{% load bootstrap_tags %}

{% block title %}SheSays: Set your new password {% endblock %}

{% block content %}
<div class="authform">
  <div class="row">
    <div class="span8">
      <form method="POST" action="{% url 'account_password_reset_token' uidb36=uidb36 token=token %}">
        <legend>Set your new password</legend>
        <fieldset>
          {% csrf_token %}
          {{ form|as_bootstrap }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
