{% extends 'site_base.html' %}

{% load bootstrap_tags %}

{% block title %} SheSays: Password Reset {% endblock %}

{% block content %}
  <div class="authform">
    <div class="row">
      <div class="span8">
        <form method="POST" action="">
          <legend>Password Reset</legend>
          <p>Forgotten your password? Enter your email address below, and we'll send you an email to reset it.</p>
          <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Reset my password</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
