{% extends 'companies_base.html' %}

{% block content %}

<div class="container navbar-push">
  <div class="row wrapper">

    <div class="col-sm-3">
      <div class="company-bubble">
        <h2 id="company-name">{{ company.name }}</h2>
        <h4>shesays score: {{ score }}</h4>
        <h4>Gender ratio: <b id="gender-ratio">?</b>/100</h4>
        <a class="btn btn-primary" id="new-review" href="{% url 'new_review' company_id=company.id %}">
          <strong>review</strong>++
        </a>
      </div>
    </div>

    <div class="col-sm-8 reviews-wrapper">
      <div>
        <ul class="reviews">
          {% if company.reviews.all %}
            {% for review in company.reviews.all %}
              <li>
                <p>{{ review.content }}</p>
                <span class="pull-left">Sentiment: <b>{{review.sentiment_label}}</b></span>
                <span class="pull-right"><b>{{ review.created_at }}</b></span>
                <br/>
              </li>
            {% endfor %}
          {% else %}
            <li>
              <p>
                No reviews for <b>{{ company.name }}</b> have been added.
                <a href="{% url 'new_review' company_id=company.id %}">Add</a> your own review.
              </p>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>
</div>

{% endblock %}
